body{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 60vh 120vh;
}
h1, .stars, #Kort, #Tid{
    grid-column: 1/2;
    grid-row: 1/2;
}

#Kort{
    font-size: 40%;
}

#beskrivning{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
#cake{
    display: flex;
    grid-column: 2/3;
    grid-row: 1;
    width:100%;
    align-items: stretch;
}
#Tid{
    width: 40%;
    height:auto;
}
.stars {
    font-size: 30px;
    color: #ccc; 
}/* Grå stjärnor */

.stars .active {
    color: gold; 
    cursor: pointer;
} /* Gula stjärnor  */

.box{
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: #d9d9d994;
    
}
.T{
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    flex-direction: row; 
    margin: 10px;
    padding: 10px;
}
#Long{
    width: 40px;
    height: 61%;
    padding-top: 3%;
    padding-right: 2%;
}


